table{
    color: lime;
    margin: 50px auto;
    tr:nth-child(1){ td{
        color: lime;

    }
    }
    td{
        padding: 5px 25px;
        text-align: center;
        color: #01011b;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid lime;
        &.first{
            color: lime;
        } 
        &.colored{
            background-color: lime;
        }
    }
}


.control_panel{
    text-align: center;
    .error{
        color: red;
        border: 1px solid red;
    }
    input{
        color: lime;
        border: 1px solid lime;
        background-color: transparent;
        font-size: 20px;
        padding: 5px;
        outline: none;
        border-radius: 5px;
    }
    span{
        color: lime;
    }
    div{
        margin: 25px;
    }
    p{
        display: inline;
        color: lime;
        padding: 10px;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        border: 1px solid lime;
    }
}